/* height px */
._c-h-10px {
  height: 10px;
}
._c-h-20px {
  height: 20px;
}
._c-h-30px {
  height: 30px;
}
._c-h-100px {
  height: 100px;
}
/* height percent */
._c-h-100pc {
  height: 100%;
}
/* width px */
._c-w-50px {
  width: 50px;
}
._c-w-60px {
  width: 60px;
}
._c-w-90px {
  width: 90px;
}
._c-w-100px {
  width: 100px;
}
/* width percent */
._c-w-100pc {
  width: 100%;
}
/* margin px */
._c-m-0 {
  margin: 0 !important;
}
._c-mt-10px {
  margin-top: 10px;
}
._c-mb-10px {
  margin-bottom: 10px;
}
._c-ml-10px {
  margin-left: 10px;
}
._c-mr-10px {
  margin-right: 10px;
}
/*padding px*/
._c-pt-20px {
  padding-top: 20px;
}
/* border */
._c-bl-none {
  border-left: none;
}
._c_text_center {
  text-align: center;
}
._c_border_none {
  border: none !important;
}
._c_border_circle {
  border-radius: 50%;
  overflow: hidden;
}

/* form group */
.form-group {
  display: flex;
}
.form-group-4 {
  flex: 0 0 calc(100% / 3);
  max-width: calc(100% / 3);
}
.form-group-8 {
  flex: 0 0 calc(100% * 2 / 3);
  max-width: calc(100% * 2 / 3);
}
