:root {
  --primary-color: #185ee0;
  --secondary-color: #e6eef9;
  --orange-color: rgba(255, 140, 0, 1);
  --ligh-orange-color: rgba(255, 140, 0, 0.7);
  --size: 1;
  --background: #fff;
  --color1: #d25778;
  --color2: #ec585c;
  --color3: #e7d155;
  --color4: #56a8c6;
}
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
:focus-visible {
  outline: none;
}
::placeholder {
  color: brown;
  opacity: 1;
}
:-ms-input-placeholder {
  color: brown;
}
::-ms-input-placeholder {
  color: brown;
}

.wrapper {
  background-color: grey;
  width: 100%;
}
.wrapper-inner {
  max-width: 500px;
  margin: auto;
  background-color: #ffffff;
  overflow: hidden;
  padding-bottom: 100px;
  position: relative;
}
/* .personal-bio {
} */
.personal-bio-inner {
  height: 100%;
  text-align: center;
}
.personal-bio-wall {
  height: 240px;
  width: 100%;
  /* background-image: url("../images/background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  display: flex;
  justify-content: center;
}
.swiper-slide > a {
  /* display: block;
  width: 100%; */
}
.swiper-slide > a > img{
  object-fit: fill;
  /* width: 100%; */
  /* height: 240px; */
  /* object-position: center; */
  width: 100%;
  height: 100%;
}
.personal-bio-name-store {
  align-self: center;
  font-family: "Dancing Script", cursive;
  font-size: 32px;
  color: #ffffff;
  position: relative;
}
.personal-bio-avatar-outline {
  position: absolute;
  top: 240px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgb(186, 186, 186) 50%,
    rgba(186, 186, 186, 1) 100%
  );
  height: 150px;
  width: 150px;
  z-index: 2;
}
.personal-bio-avatar-inner {
  content: "";
  position: absolute;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.personal-bio-info {
  width: calc(100% - 30px);
  padding: 90px 15px 0;
}
.personal-bio-username {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: transparent;
}
.personal-bio-short-desc {
  color: rgba(0, 0, 0, 0.6);
  padding-top: 10px;
  /* margin-top: 10px; */
}
.personal-bio-short-desc span {
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
}
.personal-bio-short-desc input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
.personal-bio-short-desc label {
  border-radius: 4px;
  padding: 0.2em 0.6em;
  background: rgb(255, 140, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 140, 0, 1) 0%,
    rgba(255, 217, 0, 1) 100%
  );
  color: #fff;
  font-size: 0.8em;
  cursor: pointer;
  margin-top: 5px;
  display: inline-block;
}
.personal-bio-short-desc label:focus-visible {
  outline: none;
}
/* .personal-bio-short-desc input:focus ~ label {
  outline: -webkit-focus-ring-color auto 5px;
} */
.personal-bio-short-desc input:checked + span {
  -webkit-line-clamp: unset;
}
.personal-bio-short-desc input:checked ~ label,
span:not(.truncated) ~ label {
  display: none;
}
.personal-bio-social {
  padding-top: 16px;
}
.personal-bio-social-inner {
  display: flex;
  justify-content: center;
}
.personal-bio-social-item {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}
.personal-bio-social-item img {
  max-width: 100%;
}
.main-service {
  padding: 20px 15px 0;
  min-height: 470px;
}
.dark-layout {
  position: absolute;
  height: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 7;
  opacity: 0;
}
