.nav-bottom {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 100%;
  z-index: 9;
  -webkit-box-shadow: 0px 0px 15px 0px #000000;
  box-shadow: 0px 0px 15px 0px #000000;
  transform: translateX(-50%);
  max-width: inherit;
}
.nav-bottom-inner {
  width: 100%;
}
.tabbar {
  --icon-active: #fff;
  --icon-inactive: #6c7486;
  --icon-hover: #99a3ba;
  --text: #000;
  --circle: rgba(255, 140, 0, 1);
  --background: #fff;
  --shadow: rgba(18, 22, 33, 0.1);
  /* border-radius: 0 0 12px 12px; */
  background: var(--background);
  /* width: 100%; */
  height: 64px;
  padding: 0 12px;
  box-shadow: 0 8px 16px var(--shadow);
}
.tabbar > div {
  display: flex;
  height: 100%;
  position: relative;
}
.tabbar > div label {
  flex: 0 0 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.tabbar > div label svg,
.tabbar > div label span {
  display: block;
  -webkit-backface-visibility: hidden;
  transition: transform 0.4s cubic-bezier(0.2, 0.64, 0.48, 1.12),
    opacity 0.4s ease, color 0.4s ease;
  transform: translateY(var(--y)) scale(var(--s));
}
.tabbar > div label svg {
  --y: 0;
  --s: 0.84;
  width: 24px;
  height: 24px;
  margin: auto;
  color: var(--icon-inactive);
  transform-origin: 50% 50%;
}
.tabbar > div label span {
  --y: -8px;
  --s: 0.92;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 0;
  opacity: 0;
  color: var(--text);
  transform-origin: 50% 0;
}
.tabbar > div label:hover svg {
  color: var(--icon-hover);
}
.tabbar > div label:active svg {
  --s: 0.76;
}
.tabbar > div input {
  display: none;
}
.tabbar
  > div
  input:nth-of-type(1):checked
  + label
  + input
  + label
  + input
  + label
  + input
  + label
  + span {
  --x: 0;
}
.tabbar
  > div
  input:nth-of-type(2):checked
  + label
  + input
  + label
  + input
  + label
  + span {
  --x: 100%;
}
.tabbar > div input:nth-of-type(3):checked + label + input + label + span {
  --x: 200%;
}
.tabbar > div input:nth-of-type(4):checked + label + span {
  --x: 300%;
}
.tabbar > div input:checked + label svg {
  --y: -24px;
  --s: 1;
  color: var(--icon-active);
}
.tabbar > div input:checked + label span {
  --s: 1;
  --y: -14px;
  opacity: 1;
}
.tabbar > div > span {
  --x: 0;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 25%;
  transition: transform 0.4s cubic-bezier(0.2, 0.64, 0.48, 1.12);
  transform: translateX(var(--x));
  -webkit-backface-visibility: hidden;
}
.tabbar > div > span:after {
  content: "";
  width: 44px;
  height: 44px;
  display: block;
  border-radius: 50%;
  background: var(--circle);
  position: absolute;
  left: 50%;
  top: 0;
  box-shadow: 0 2px 8px var(--shadow);
  margin: -14px 0 0 -22px;
}
