.cdp {
  text-align: center;
  /* background: var(--ligh-orange-color); */
  margin: 10px 0;
  border-radius: 99px;
}
.cdp_i {
  font-size: 14px;
  text-decoration: none;
  transition: background 250ms;
  display: inline-block;
  text-transform: uppercase;
  margin: 3px;
  height: 28px;
  min-width: 28px;
  border-radius: 28px;
  border: 2px solid #fff;
  line-height: 28px;
  padding: 0;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.03em;
  /* display: none; */
  /* background-color: #333; */
}
.cdp_i:hover,
.cdp_i.active {
  background-color: var(--orange-color);
  color: #fff;
  cursor: pointer;
}
.pagination-total-page {
  color: #fff;
}
.pagination-go-page {
  width: 30px;
  display: inline-block;
}
.pagination-go-page input {
  width: 100%;
  width: 100%;
  border: 1px solid var(--orange-color);
  height: 26px;
  text-align: center;
  font-weight: 600;
  color: var(--orange-color);
}
.pagination-go-page input:focus-visible {
  outline: 1px solid var(--ligh-orange-color);
}
