.promo-code-tab {
  height: 100%;
    display: none;
}
.product-tab {

  /*opacity: 0;*/
}
.product-tab-inner {
  padding-top: 20px;
}
.product-item {
  display: flex;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 3px 5px 10px -5px #000000;
  box-shadow: 0px 5px 10px -5px #000000;
  margin: 20px auto;
}
.product-item-image {
  flex: 0 0 120px;
  max-width: 120px;
  height: 120px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.product-item-detail {
  padding: 10px;
  width: 100%;
}
.product-item-title {
  font-size: 14px;
  font-weight: 600;
  text-align: justify;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  height: 40px;
}
.product-item-merchant {
  font-size: 13px;
  color: #666;
  text-transform: capitalize;
}
.product-item-buy {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.product-item-price {
  font-size: 14px;
  width: 84px;
  font-weight: 600;
}
.product-item-go {
  width: calc(100% - 84px);
}
.product-item-go a {
  text-decoration: none;
}
.product-item-button {
  background: rgb(255, 140, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 140, 0, 1) 0%,
    rgba(255, 217, 0, 1) 100%
  );
  color: #fff;
  padding: 4px;
  border-radius: 14px 6px 14px 6px;
  font-size: 14px;
  width: 90px;
  text-align: center;
  margin-left: auto;
}
