/* == custom tabs == */
.tabs {
  display: flex;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15),
    0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 0.5rem;
  border-radius: 99px;
}
.tabs * {
  z-index: 2;
}
.tabs input[type="radio"] {
  display: none;
}
.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  max-width: 50%;
  flex: 0 0 50%;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-left: 0.5rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.15s ease-in;
  color: #fff;
}
.tabs input[type="radio"]:checked + label {
  color: #fff;
}
.tabs input[type="radio"]:checked + label > .notification {
  background-color: var(--orange-color);
  color: #fff;
}
.tabs input[id="radio-1"]:checked ~ .glider {
  transform: translateX(0);
}
.tabs input[id="radio-2"]:checked ~ .glider {
  transform: translateX(100%);
}
/* input[id="radio-3"]:checked ~ .glider {
  transform: translateX(200%);
} */
.glider {
  position: absolute;
  display: flex;
  height: 44px;
  width: calc(50% - 0.75rem);
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}

/* -- promo code border -- */
.ticket {
  width: calc(100% - 10px);
  margin: 20px auto;
  position: relative;
  transition: all 300ms cubic-bezier(0.03, 0.98, 0.53, 0.99) 0s;
  background: var(--orange-color);
  /* border-radius: 20px; */
  padding: 5px;
}
.ticket:before,
.ticket:after {
  content: "";
  display: block;
  position: absolute;
  /* top: 50%; */
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.ticket:before {
  background: var(--orange-color);
  transform: translateY(-50%);
  top: 0;
  right: 106px;
}
.ticket:after {
  background: var(--orange-color);
  transform: translateY(50%);
  bottom: 0;
  right: 106px;
}
.ticket-content-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  background: var(--background);
  /* border-radius: 15px; */
}
.ticket-content-wrapper:before,
.ticket-content-wrapper:after {
  content: "";
  display: block;
  position: absolute;
  /* top: 50%; */
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--background);
  z-index: 3;
}
.ticket-content-wrapper:before {
  top: -5px;
  right: 106px;
  transform: translateY(-50%);
}
.ticket-content-wrapper:after {
  bottom: -5px;
  right: 106px;
  transform: translateY(50%);
}
.left,
.right {
  position: absolute;
  /* top: 50%; */
  width: 20px;
  height: 100px;
  background: #fff;
  z-index: 4;
  transform: translateY(-50%);
}
.left {
  right: 76px;
  top: 0;
  height: 20px;
  width: 100px;
  transform: translateY(-100%);
}
.right {
  right: 76px;
  bottom: 0;
  height: 20px;
  width: 100px;
  transform: translateY(100%);
}

.promo-code-item {
  display: flex;
  height: 100%;
}
.promo-code-item-left {
  flex: 1 1 100%;
  max-width: 100%;
  padding: 10px 20px 10px 10px;
}
.promo-code-item-title {
  font-size: 12px;
  font-weight: 600;
  text-align: justify;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
}
.promo-code-item-expire {
  font-size: 12px;
  margin-top: 8px;
  color: forestgreen;
}
.promo-code-item-button {
  font-size: 14px;
  margin-top: 8px;
  background: rgb(255, 140, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 140, 0, 1) 0%,
    rgba(255, 217, 0, 1) 100%
  );
  color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 2px;
  cursor: pointer;
}
.promo-code-item-right {
  flex: 0 0 96px;
  max-width: 96px;
  border-left: 2px dashed rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  padding: 10px;
}
.promo-code-item-right-inner {
  align-self: center;
  font-weight: 600;
  font-size: 12px;
}
.promo-code-item-logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}
.promo-code-item-logo img {
  width: 100%;
}
