.tab-manager-bottom {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 100%;
  z-index: 8;
  height: 0;
  -webkit-box-shadow: 0px 0px 15px 0px #000000;
  box-shadow: 0px 0px 15px 0px #000000;
  max-width: inherit;
  transform: translateX(-50%);
}
.tab-manager-bottom-inner {
  height: 100%;
  background: #fff;
  padding: 10px;
  font-size: 12px;
}
/* category tab */
.tab-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tab-category-item {
  margin: 10px;
}
.tab-category-item:hover,
.tab-category-item.active {
  background: var(--orange-color);
  color: #fff;
  cursor: pointer;
}
.tab-category-item-inner {
  padding: 5px;
  border: 1px solid var(--orange-color);
  white-space: nowrap;
}

/*== search box ==*/
.tab-manager-bottom-inner form {
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tab-manager-bottom-inner input[name="search"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1.5em;
  border-radius: 20px;
  padding: 0 20px;
  background-color: var(--ligh-orange-color);
  color: #fff;
}

.tab-manager-bottom-inner .fa-search {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: var(--orange-color);
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

.tab-manager-bottom-inner form:hover,
.tab-manager-bottom-inner form:valid,
.tab-manager-bottom-inner form.active {
  width: 100%;
  cursor: pointer;
}

.tab-manager-bottom-inner form:hover input[name="search"],
.tab-manager-bottom-inner form:valid input[name="search"],
.tab-manager-bottom-inner form.active input[name="search"] {
  display: block;
}

.tab-manager-bottom-inner form:hover .fa-search,
.tab-manager-bottom-inner form:valid .fa-search,
.tab-manager-bottom-inner form.active .fa-search {
  background: var(--orange-color);
  color: white;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* price slider */
.price-slider {
  height: 5px;
  border-radius: 5px;
  background-color: #ddd;
  position: relative;
}
.price-progress {
  height: 5px;
  left: 0%;
  right: 2%;
  position: absolute;
  border-radius: px;
  background: #17a2b8;
}
.price-range-input {
  position: relative;
}
.price-range-input input {
  position: absolute;
  top: -5px;
  height: 5px;
  width: 100%;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  pointer-events: auto;
  -webkit-appearance: none;
  background: #17a2b8;
}
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  pointer-events: auto;
  -moz-appearance: none;
  background: #17a2b8;
}
.filter-submit label {
  border-radius: 4px;
  padding: 0.2em 0.6em;
  background: rgb(255, 140, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 140, 0, 1) 0%,
    rgba(255, 217, 0, 1) 100%
  );
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  margin-top: 5px;
  display: inline-block;
}

.tab-category-item-inner svg {
  margin-bottom: -4px;
}
